DB_USER=root
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=3306
DB_NAME=rakuraku

# 楽々清算の接続情報
RAKURAKU_URL=https://your-company.rakurakuseisan.jp
RAKURAKU_USER=your-login-id
RAKURAKU_PASSWORD=your-password
